<header>
    <section>
    <section id="menu">&#x2630;</section>
        <a href="/"><img src="/images/logowarzone.png" alt="Logo warzone"></a>
        <ul class="hamburgerMenu">
            <a href="/add/players"><li> Find players</li></a>
            <a href="/add"><li> Add account</li></a>
        </ul>
    </section>
</header>