<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>
    <main>
        <form action="/add" method="POST">

            <section>
                <h1>Add yourself to the app!</h1>
                <label for="name">What is your activision name?</label>
                <input id="name" type="text" name="name" required>
            </section>
            <section>
                <label for="kd">What is your k/d?</label>
                <input id="kd" type="text" name="kd" required>
            </section>

            <section>
                <label for="wins">How many wins do you have?</label>
                <input id="wins" type="text" name="wins" required>
            </section>

            <section>
                <label for="score">What is you average score?</label>
                <input id="score" type="text" name="score" required>
               <button>Add</button>
            </section>
        </form>
    </main>
            
    <script src="../js/feature.js"></script>
    <%- include('partials/footer'); -%>
</body>
</html>