<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>
    <main>
        <section>
            <section>
                <h1>Let's find your teammate!</h1>
                <label for="kd">What is your k/d?</label>
                <select name="kd" id="kd-select">
                    <option value="">Please choose an option!</option>
                    <option value="0-1">0- 1.0 kd</option>
                    <option value="1-1.4">1.0 - 1.4 kd</option>
                    <option value="1.4-1.8">1.4 - 1.8 kd</option>
                    <option value="1.8-2.2">1.8 - 2.2 kd</option>
                    <option value="2.2+">2.2+ kd</option>
                </select>
            </section>

            <section>
                <label for="wins">How many wins do you have?</label>
                    <select name="wins" id="wins-select">
                        <option value="">Please choose an option!</option>
                        <option value="0-30">0 - 30 wins</option>
                        <option value="30-60">30 - 60 wins</option>
                        <option value="60-90">60 - 90 wins</option>
                        <option value="90-120">90 - 120 wins</option>
                        <option value="120+">120+ wins</option>
                    </select>
            </section>

            <section>
                <label for="score">What is you average score?</label>
                    <select name="wins" id="wins-select">
                        <option value="">Please choose an option!</option>
                        <option value="0-30">0 - 200 wins</option>
                        <option value="30-60">30 - 60 wins</option>
                        <option value="60-90">60 - 90 wins</option>
                        <option value="90-120">90 - 120 wins</option>
                        <option value="120+">120+ wins</option>                        
                    </select>
                        <a href="/filter/players"><button>Search</button></a>
            </section>
        </section>
    </main>
            
    <footer>
        <p>Copymiddle Tim Hart</p>
    </footer>
    <script src="feature.js"></script>
</body>
</html>