<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>

    <main>
        <h1>Welcome!</h1>

        <img src="/images/startimg.jpeg" class="imgStart" alt="">

        <section class="sectionStart">
            <a href="/add" class="startLink">Let's begin</a> 
        </section>
    </main>
            
    <%- include('partials/footer'); -%>
    <script src="../js/feature.js"></script>
</body>