<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>
    <main>
        <h1>Let's find your teammate!</h1>
    </main>

    <footer>
        <p>Copymiddle Tim Hart</p>
    </footer>
    <script src="feature.js"></script>
</body>
</html>