<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <section>
            <img src="../public/images/logowarzone.png" alt="Logo warzone">
            <a href="#"><img src="../public/images/profileicon.png" alt=""></a>
        </section>
    </header>
 <main>
    <h1>Let's find your teammate!</h1>


    <p>Hier komt de persoon + info</p>

    <section>
        <p>K/D: 2.11</p>
        <p>Wins: 211</p>
        <p>Avg. score: 1250</p>
    </section>

    <section>
        <img src="../public/images/like.png" alt="Button to like">
        <img src="../public/images/star.png" alt="Button to star">
        <img src="../public/images/unlike.png" alt="Button to unlike">
    </section>

</main>
<footer>
    <p>Copymiddle Tim Hart</p>
</footer>
    <script src="feature.js"></script>
</body>
</html>